blinker==1.6.2
brotli==1.0.9
flask==3.0.3
pillow==10.4.0
numpy==1.26.4
opencv==4.10.0
pandas==2.2.3
pillow==10.4.0
pip==24.2
python==3.12.7
pytorch==2.4.1
pytorch-lightning==2.4.0
torchmetrics==1.5.1
torchvision==0.19.1
ultralytics==8.3.23
ultralytics-thop==2.0.9
yaml==0.2.5
opencv-python==4.10.0

